#app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 90vh;
  transition: all 0.3s ease-in-out;
  /* border: 4px solid green */
}

#app-container.sidebar-open #main-section {
  width: 80vw;
  margin-left: 20vw; 
  /* Moves content to the right when sidebar opens */
  /* border: 10px solid red; */
}

#app-container.sidebar-open #navbar {
  width: 80%;
   /* Moves content to the right when sidebar opens */
  /* border: 10px solid red; */
}
#main-section {
  flex-grow: 1;
  width: 100%;
  /* margin-top: 10vh; */
  transition: margin-left 0.3s ease-in-out;
  /* background-color: #E1B12C; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 4px solid blue; */
}